*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;


}

body{
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #0e1926;
}

html{
    height:100%;
}

.nofluffjobs
{
   color:white;
   visibility: hidden;
   text-align: center;
   
}
.nofluffjobs:after{
    content:"NO FLUFF JOBS";
    visibility: visible;
    margin-right:10%;
}
.pracuj{
    color:white;
   text-transform: uppercase;
   text-align: center;
}


a {
    text-align: center;
    font-size:24px;
    text-decoration:None;
    box-shadow: inset 0 0 0 0 #0e1926;
    color: #e6e6e6;
    margin: 0 .25rem;
    padding: 0 .25rem;
    
  }
  

